

body{
    position: absolute4;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(241, 241, 241);
}


/* Single Card CSS */

.card{
    background-color: rgb(49, 83, 49);
    color: white;
    padding: 5px;
    width: 215px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cloth-name h2, .general-desc h2{
    font-size: 18px;
}

.cloth-name h2{
    margin-bottom: 0px;
}

.general-desc h2{
    margin-top: 0px;
}

.percentage-off h1{
    font-size: 27px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.cards{
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 15px;
    justify-content: center;
    margin: auto;
}


/* Header Styling */
.header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: white;

}

.options{
    position: relative;
}

.btn, .pfp-btn{
    border: none;
    background-color: white;
    font-weight: 600;
    margin-right: 30px;
}

.profile{
    position: relative;
    right: 25px;
    
}

.pfp-btn{
    font-size: 14.333px;
}

.header input{
     width: 450px;
     padding: 10px;
     position: relative;
     right: 40px;
     border: none;
     background-color: rgb(243, 241, 241);
     color: #5f626a;
     border-radius: 5px;
}

/* Footer styling */
.footer{
    width: 100%;
    text-align: center;
}

.footer img{
    width: 90%;
    
}